footer {
    padding: 0;
    font-size: 1.1em;
}
.upper-footer {
    background-color: #312c2b;
    padding: 25px 10px;
}
@media only screen and (max-width: 768px){
    .upper-footer {
        background-color: #312c2b;
        padding: 20px 10px;
    }
}

.social-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-sec img {
    margin-bottom: 20px;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
footer ul {
    margin: 0;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.upper-footer h3 {
    color: #fff;
    font-weight: bold;
}
h3 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}
.upper-footer p {
    color: #fff;
    text-align: justify;
}
.footer-container {
    background-color: #000;
    padding: 10px;
}
.footer-container p {
    text-align: center;
    color: #f4f4f4;
    margin-bottom: 0px;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social_icon {
    background-color: #eceeef;
    color: #818a91;
    font-size: 10px;
    display: inline-block;
    line-height: 44px;
    width: 35px;
    height: 35px;
    padding: 8px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.facebook:hover{
    background-color: #3b5998;
    color: #fff;
}
.instagram:hover{
    background-color: #e91e63;
    color: #fff;

}