edu-cta {
    background-color: #48cacc;
    padding: 25px 0px;
}
.service-section-content {
    background-color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    text-align: justify;
    max-width: 350px;
    margin: 0 auto;
    line-height: 26px;
}
@media only screen and (max-width: 768px){
.service-section-content {
    max-width: 100%;
    margin-bottom: 20px;
}
}

.edu-form form {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px){
.edu-form form {
    background: #fff;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}