.dropdownMenu {
  width: 150px;
  position: absolute;
  top: 50px;
  list-style: none;
  text-align: start;
  /* border: 1px solid red; */
  font-size: 12px;
}

.dropdownMenu li {
  background: #fff;
  cursor: pointer;
  color: #f88126;
}

.dropdownMenu li:hover {
  background-color: #f5f5f5;
}

.dropdownMenu > li:visited, .dropdownMenu > li:active{
  background-color: #d9d6d6;
}

.dropdownMenu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #f88126;
  padding: 12px;
}
.dropdown-link:active{
  background-color: #e7e7e7;
}
@media only screen and (max-width: 768px) {
  .fa-caret-down {
    display: none;
  }
  .dropdownMenu{
    /* border: 1px solid red; */
    width: 20%;
    /* position: absolute; */
    /* z-index: 100; */
    /* margin-left: 200px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  }
}
