.dropdown-content {
    color: #555;
    /* min-width: 160px; */
    z-index: 1;
    font-size: 12px;
  }
  
  .dropdown-content-li{
    color: #777 !important;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    margin-top: 5px !important;
  }
  
  .dropdown-content-li:hover{
    color: #555 !important; 
  }
  .dropdown-content-li:active, .dropdown-content-li:focus{
    background-color: #e7e7e7 !important;
  }