.navbar__menu{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 1px 7px -2px rgb(0 0 0 / 42%);
    -webkit-box-shadow: 0px 1px 7px -2px rgb(0 0 0 / 42%);
    position: relative;
    min-height: 50px;
    padding: 5px 70px;
}
.toggle_button{
    display: none;
}

.nav_links{
    display: flex;
    /* border: 1px solid red; */
}
.nav_menu{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.nav_menu ul, .nav_menu li{
    list-style: none;
}
.nav_item a{
    text-decoration: none;
    color: var(--orange_color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 1.4em !important;
    line-height: 25px;
    font-family: 'Cairo', sans-serif;
}
.nav_menu li {
    padding: 0px 10px;
    /* border: 1px solid red; */
}
@media only screen and (max-width: 768px) {
    .navbar__menu{
        padding: 0px 10px;
    }
    .toggle_button{
        display: flex;
        /* border: 1px solid red; */
        justify-content: flex-end;
        transition: all 0.5s ease-in-out;
        font-size: 40px;
    }
    .nav_links{
        display: none;
    }
    .nav_links_active{
        /* border: 1px solid red; */
        width: 100%;
        top:50px;
        border-top: 1px solid #e7e7e7;
        position: absolute;
        opacity: 1;
        padding: 0px 0px 0px 10px;
        overflow-x: scroll;
        transition: all 0.5s ease-in-out;

    }
    .nav_menu{
        display: grid;
        justify-content: left;
        gap: 20px;
        margin: 10px 0px 30px 0px;
    }
    .nav_links_active.active {
        background: #fff;
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.5s ease-in-out;;
      }
    
}
.menu_icon{
    color: white;
    background-color:var(--orange_color);
    padding: 2px;
}
.menu_icon:hover{
    background-color: rgb(221, 221, 221);
}