.edu-form form {
    box-shadow: 1px 1px 6px 4px #ddd;
}
section.edu-home {
    margin-bottom: 100px;
}
.edu-banner {
    padding: 20px 0px;
    height: 60vh;
}
@media only screen and (max-width: 768px){
.edu-banner {
    padding: 25px 0px;
    height: 100%;
}
}

.service-section-content {
    background-color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    text-align: justify;
    max-width: 350px;
    margin: 0 auto;
    line-height: 26px;
}
@media only screen and (max-width: 768px){
.service-section-content {
    max-width: 100%;
    margin-bottom: 20px;
}
}
.edu-banner h1 {
    color: #00bcd4;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2.5em;
}
@media (max-width: 991px){
h1 {
    font-size: 2.5em;
}
}

.edu-banner p {
    font-size: 18px;
    line-height: 26px;
}
.contact-details a {
    color: #666;
}
