.service-card h4 {
    text-decoration: none;
    letter-spacing: 0px;
    text-transform: capitalize;
    border-bottom: 0px solid #fff;
    color: #7d7f80;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
}
@media (max-width: 767px){
h4 {
    margin-bottom: 10px;
    
}
}
h4{
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}