.edu-challenges h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.slick-dotted.slick-slider {
    margin: 15px !important;
}
.slick-prev {
    left: -10px !important;
}
.solution-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media only screen and (max-width: 768px){
.solution-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 10px;
}
}
.icon-wrapper {
    border-radius: 50%;
    width: 100px;
    padding: 10px;
    height: 100px;
    background: #fff;
    margin-right: 10px;
    /* background-color: #fff; */
}
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.arrow {
    border: solid #00bcd4;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-size: 24px;
    width: 20px;
    height: 20px;
}
.right {
    -webkit-transform: rotate(
-45deg
);
}
@media only screen and (max-width: 768px){
.right {
    display: none;
}
}
.down {
    display: none;
    -webkit-transform: rotate(
45deg
);
}
@media only screen and (max-width: 768px){
.down {
    display: block;
}
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slider-challenge-position{
    /* border: 1px solid red; */
    display: flex;
}

@media only screen and (max-width: 768px){
    .slider-challenge-position{
        /* border: 1px solid green; */
        display: grid;
        justify-content: center;
    }
    }