.testimonial {
    padding: 30px 0px;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://letseduvate.com/wp-content/uploads/2021/01/Testimonial-Background-1.png) no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 16px;
}
.testimonial h2 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    padding: 10px;
}
.testi-card {
    width: 600px;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
}
.testi-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px){
.testi-card {
    width: 100%;
    flex-direction: column;
}
}
.test-img {
    width: 200px;
    margin-right: 10px;
}
/* img {
    height: auto;
    max-width: 100%;
} */
.test-content {
    padding: 20px;
}
.test-content h3 {
    color: #00bcd4;
}
.test-content h5, .test-content p {
    color: #7d7f80;
}
