.btn{
    background: #025479;
    /* border-radius: 20px; */
    margin: 0 auto;
    height: 38px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5px 25px;
}
.btn:hover{
    background-color: #286090;
    border-color: #204d74;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
