.edu-challenges {
    background-color: #312c2b;
    padding: 25px 0px;
}
.edu-challenges h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.solution-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
@media only screen and (max-width: 768px){
.solution-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px;
}
}

.solution-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@media only screen and (max-width: 768px){
.transform .solution-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 15px;
}
}

.icon-wrapper {
    border-radius: 50%;
    width: 100px;
    padding: 10px;
    height: 100px;
    background: #fff;
    margin-right: 10px;
    /* background-color: #fff; */
}

.transform h3 {
    text-align: center;
    font-size: 28px;
}
img {
    height: auto;
    max-width: 100%;
}