.edu-cta h2 {
    color: #025479;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}
.video-intro {
    width: 100%;
    height: 350px;
    /* border: 1px solid red; */
}
.edu-cta {
    background-color: #48cacc;
    padding: 25px 0px;
}

@media only screen and (max-width: 768px)
{
.edu-cta h2 {
    color: #025479;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}
}

.edu-form form {
    background: #fff;
    padding: 20px;
    width: 300px;
    /* width: 100%; */
    margin: 0 auto;
    border-radius: 10px;
}

@media only screen and (max-width: 768px){
.video-intro {
    width: 100%;
    height: 220px;
}
}

@media only screen and (max-width: 768px){
.edu-form form {
    background: #fff;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}
}
/* @media only screen and (min-width: 768px){
    .edu-form {
        width: 400px;
        margin-left: 10px;
    }
} */
.edu-cta h2 {
    color: #025479;
    text-align: center;
    font-weight: bold;
}
.edu-form h2 {
    margin-bottom: 20px;
}

.edu-form button, .edu-form .btn {
    background: #025479;
    border-radius: 20px;
    margin: 0 auto;
    height: 38px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff !important;
    border: none;
    text-transform: uppercase;
    padding: 5px 25px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
