@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;700&display=swap');

body{
  --h1_font_family: 'Titillium Web', sans-serif;
  --blue_color: #00bcd4;
  --orange_color: #f88126;
  --grey_1_color: #666;
  --grey_2_color: #7d7f80;
  --h2_color: #025479;
  --dark_brown: #312c2b;
  --black-color: #000;
  --white: #fff;
}
body{
  line-height: 1.4;
  background-color: #fff;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
}
body{
  color: #666;
}

*{
  margin: 0;
  padding: 0;
  /* line-height: 1.4; */
  font-family: 'Cairo', sans-serif;
}
