.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: #7d7f80;
    font-weight: 500;
}
.service-wrapper {
    margin: 20px auto;
}
.service-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 250px;
    background-color: #fff;
}
@media only screen and (max-width: 768px){
.service-card {
    /* width: 100%; */
    /* margin: 15px auto; */
    padding: 0px;
}
}

.service-card img {
    width: 150px;
}
img {
    height: auto;
    max-width: 100%;
}
.service-card h4 {
    text-decoration: none;
    letter-spacing: 0px;
    text-transform: capitalize;
    border-bottom: 0px solid #fff;
    color: #7d7f80;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
}
@media (max-width: 767px){
h4 {
    margin-bottom: 10px;
}
}