.edu-banner.about-us-banner {
    height: auto;
}
@media only screen and (max-width: 768px){
.edu-banner {
    padding: 20px 0px;
}
}
.edu-banner h1 {
    color: #00bcd4;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 991px){
h1 {
    font-size: 2em;
}
}
.edu-banner p {
    font-size: 16px;
    line-height: 26px;
}

.about-us-banner-title {
    text-align: center;
}
p {
    margin-bottom: 1.5em;
}