.services {
    padding: 30px 0px;
}
.services h2 {
    text-align: center;
    text-transform: uppercase;
    color: #7d7f80;
}
.slick-dotted.slick-slider {
    margin: 15px !important;
}
.slick-prev {
    left: -10px !important;
}
@media only screen and (max-width: 768px){
.service-card {
    padding: 0px;
}
}
.service-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 260px;
    background-color: #fff;
}
.slick-slide img {
    display: block;
}
.service-card img {
    width: 150px;
}
.service-card h4 {
    text-decoration: none;
    letter-spacing: 0px;
    text-transform: capitalize;
    border-bottom: 0px solid #fff;
    color: #7d7f80;
    text-align: center;
    font-size: 19px;
    line-height: 22px;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-slide {
    /* display: none; */
    float: left;
    height: 100%;
    /* min-height: 1px; */
}
img {
    height: auto;
    max-width: 100%;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}