@media only screen and (max-width: 768px){
.edu-banner {
    padding: 25px 0px;
    height: 100%;
}
}
.edu-banner {
    padding: 25px 0px;
    height: 60vh;
}
.edu-banner h1 {
    color: #00bcd4;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 991px){
h1 {
    font-size: 2em;
}
}
@media only screen and (max-width: 768px){
.video-intro {
    width: 100%;
    height: 220px;
}
}

.video-intro {
    width: 100%;
    height: 350px;
}