@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&display=swap');

.edu-banner{
    /* border: 1px solid red; */
    height: 60vh;
    padding: 20px 0px;
}

@media only screen and (max-width: 768px){
    .edu-banner {
        padding: 25px 0px;
        height: 100%;
    }
}

.edu-banner h1 {
    color: #00bcd4;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2.5rem;
    margin-bottom: 0px;
}
@media (min-width: 991px){
h1 {
    font-size: 2.5em;
}
}
.edu-banner h1 span {
    color: #f88126;
    text-decoration: underline;
}
.edu-banner p {
    /* font-size: 18px; */
    /* line-height: 26px; */
    font-family: 'Cairo', sans-serif;
    color: #666;
    /* border: 1px solid red; */
    /* font: 300 18px/22px Roboto; */
}
.edu-banner img {
    max-width: 100%;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: 0;
    height: auto;
    border: 0;
    vertical-align: middle;
    
}